/* General styling */
* {
    margin: 0;
}
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: bisque;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
}
/* Header */

header {
    position: fixed;
    top: 0;
    margin-top:0;
    line-height: 60px;
    width: auto;
    background-color: rgb(55, 99, 78);
    width: 100%;
    top: 0rem;
    z-index: 100;
}

main {
    position: relative;
    top: 60px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15rem;
    list-style: none;
    text-decoration: ;
}

.nav-list > li {
    color: white;
}

a {
    text-decoration: none
}
.nav-list > li > a:visited {
    color: white;
}

/* Main */

section{
    max-width: 100%;
    margin:auto;
}

h1 {
    text-align: center;
    font-size: 35px;
    padding-top:10px;
}

.left-box-bio {
    width: 33%;
    border-radius: 360px;
    border: 1px black solid;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.172);
}

/* Flexbox code*/

.even-columns-1 {
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    width: 75%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    gap: 15px;
}


.even-columns {
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    width: 75%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    gap: 15px;
}

.bio-text {
    width: 40%;
}
.even-columns p {
    width: 30%;
}

.even-columns:first-child p {
    width: auto;
}

.app-container img {
    max-width: 50%;
}

.left-box {
    /* flex: 2; */
    border: 1px black solid;
    box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 17%);
    border-radius: 15px;
    width: 800px;
    height:612px;
}

.right-box{
    padding: 100px;
    /* flex: 2; */
}

.right-box:first-child p{
    padding: 5px;
}

#Apps img {
    border: 1px black solid;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.172);
    border-radius: 15px;
}

/* Image affects */

.app.container img:hover .overlay {
    opacity: 1;
}

.app-container ul {
    padding-top: 40px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.1);
}

/* Comment Box */
.comment-box {
    top: 8rem;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    width: 500px;
}

.comment-box h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.comment-box input {
    width:100%;
    height: 50px;
    padding: 0;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid black;

}

.comment-box textarea {
    width: 100%;
    height: 150 px;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.comment-box textarea:focus {
    border: 1px solid black;
    outline: 0;
}

.comment-box button {
    border: 0;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 5px;
    color: black;
    background-color: white;
}

.comment-box button:hover {
    background-color: rgb(55, 99, 78) ;
}


/* Contact Me! */

.contact-images {
    text-align: center;
}

.contact-images ul li {
    display: inline-block;
    margin: 10px;
}

.contact-images img {
    width: 100px;
    height: 100px;
}

/* Footer */

h3 {
    text-align: center;
    line-height 100px;
}

.refactor {
    background-image: url('../assets/images/Horiseon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

@media screen and (max-width: 992px) {
    .body {
      width: 50%;}
    }

@media screen and (max-width: 768px) {
    .body {
      width: 100%;}
}
  