:root{
    --link-color: blue  
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Josefin Sans",sans-serif;
}

header {
    color: rgb(254, 254, 254);
    background-color: rgb(60, 95, 80);
    position: fixed;
    width: 100%;
}

.primary-container {
    width: auto;
    max-height: 50px;
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 15rem;
    margin: 0;
    padding: 20px;
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover{
background-color: black;
}

h1 {
    text-align: center;
}

.bio-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 19%;
    border-radius: 90px;
}

.even-columns {
    flex: 1 1 0;
    margin-top: 200px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.container{
    display: flex;
}